<section ng-if="!loaded">
  <h1 autofocus>Loading...</h1>
</section>
<main ng-if="loaded">
<article>
  <div class="panel panel-default">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <img class="img-responsive"
             ng-src="{{restaurant.venue.bestPhoto.prefix + '400x400' + restaurant.venue.bestPhoto.suffix}}"
             alt="photo of {{restaurant.venue.name}}">
      </div>
      <div class="col-xs-12 col-md-8">
        <div class="restaurant-detail">
          <h2><a class="restaurant-link" ng-href="#/restaurant/{{restaurant.venue.id}}" aria-label="{{restaurant.venue.categories[0].name}} {{restaurant.venue.name}}">{{restaurant.venue.name}}</a></h2>
          <div star-rating role="presentation" class="rating" ng-model="restaurant.venue.rating" readonly="isReadonly"></div><span>
          <p>{{restaurant.venue.price.tier | price: restaurant.venue.price.currency}} <span>{{restaurant.venue.categories[0].name}}</span></p>
          <p><span class="glyphicon glyphicon-map-marker"></span> {{restaurant.venue.location.formattedAddress[0]}}</p>
          <p><span class="glyphicon glyphicon-time"></span> {{restaurant.venue.hours.status}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <form class="form-horizontal comment-form">
      <textarea class="form-control" rows="3" ng-model="$parent.review" aria-label="Tell us your experience in this restaurant." placeholder="Tell us your experience in this restaurant."></textarea>
      <div class="row comment-row">
        <div class="col-xs-12 col-md-4 comment-name">
          <input type="text" class="form-control inline" placeholder="Your name" ng-model="$parent.name" aria-label="Enter your name.">
        </div>
        <div class="col-xs-12 col-md-4 comment-rating">
          <div star-rating class="rating inline" ng-model="$parent.rating"></div><span>
        </div>
        <div class="col-xs-12 col-md-4">
          <button class="btn btn-primary inline" type="submit" ng-click="addComment()">Post Your Review</button>
        </div>
      </div>
    </form>
    <section class="comment" ng-repeat="listed in restaurant.venue.tips.groups[0].items">
      <span class="name">{{listed.user.firstName}} : </span><div star-rating role="presentation" class="rating inline" ng-model="listed.rating" readonly="$parent.isReadonly"></div><span > {{listed.createdAt * 1000 | date:"MM/dd/yyyy"}}</span>
      <p>{{listed.text | comment}}</p>
    </section>
  </div>
</article>
</main>
